node_modules/
logs/
storage/
working_proxies.json
.env
.DS_Store

# DO NOT ignore the docs folder! 
# This is required for GitHub Pages and for users to download the mirror.
!docs/
!docs/**
!docs/.nojekyll
